body {
  margin: 0;
  body: 0;
  font-family: 'Courier New', Courier, monospace; 
  /* background: linear-gradient(to right, rgb(231, 128, 45), rgb(213, 56, 120)) */
  /* background: linear-gradient(to right, rgb(7, 12, 79), rgb(11, 126, 190));; */
  background: linear-gradient(to right, rgb(16, 32, 63), rgb(79, 166, 185));;
}

button {
  cursor: pointer;
}



